.rmsc.dark {
    --rmsc-main: rgb(99, 179, 237);
    --rmsc-hover: #1a202c;
    --rmsc-selected: #1a202c;
    --rmsc-border: #4A5568;
    --rmsc-gray: rgb(187, 187, 187);
    --rmsc-bg: #1A202C;
    color: #fff;
}

.rmsc *{
    transition: none !important;
}

.rmsc.dark .dropdown-content {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    
    .options :hover{
        color: black;
        transition: 0;
        background-color: rgb(99,179,237);
    }
}
