/* src/components/RegistrationForm.css */
.form-container {
  width: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.form-stage {
  width: 80%;
  flex-shrink: 0;
  display: none;
  position: relative;
}

.stage-1 .form-stage:nth-child(1),
.stage-2 .form-stage:nth-child(2) {
  display: block;
}

